@import 'abstracts/functions';
@import 'abstracts/variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sidebar-header {
  position: sticky;
  top: 0;
  display: flex;
  padding: rem(4px) 0;
  background: $body-bg-color;
  z-index: 3;
}

.sidebar-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: rem(24px);
  background: $body-bg-color;
  z-index: 3;
}

.unit-card {
  margin: 0 rem(24px);
  padding: rem(16px);
  background: $gray-0;
  border-radius: $border-radius-normal;
}
