<aqm-stepper
  [stepIndex]="currentStep"
  (setStepperProperties)="onSetCurrentStep($event)"
>
  <ng-template #headerTemplate>
    <h5 class="mt-5 ml-4 mb-0">
      Add new location {{ currentStep }}/{{ stepsTotal }}
    </h5>
  </ng-template>

  <cdk-step>
    <div class="wrapper">
      <aqm-location-coordinates
        type="add"
        [coordinates]="location"
      ></aqm-location-coordinates>

      <div class="spacer"></div>

      <div class="action-row">
        <button
          pButton
          pRipple
          type="button"
          i18n-label="add-location|Label for back button"
          label="Back"
          class="p-button-secondary p-button-lg"
          (click)="onNavigateBack()"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          i18n-label="add-location|Label for save button"
          label="Save"
          class="p-button-lg ml-4"
          cdkStepperNext
          [disabled]="!markerAdded"
        ></button>
      </div>
    </div>
  </cdk-step>
  <cdk-step>
    <div class="wrapper">
      <aqm-location-data-form
        [uploadUrl]="UPLOAD_URL"
        type="add"
        [location]="location"
        (storeLocationData)="onStoreLocationData($event)"
        (proceedToConfirmation)="onConfirmationProceed($event)"
      ></aqm-location-data-form>

      <div class="action-row">
        <button
          pButton
          pRipple
          type="button"
          i18n-label="add-location|Label for back button"
          label="Back"
          class="p-button-secondary p-button-lg"
          cdkStepperPrevious
        ></button>
        <button
          pButton
          pRipple
          type="button"
          i18n-label="add-location|Label for save button"
          label="Save"
          class="p-button-lg ml-4"
          [disabled]="!alowFormSubmit"
          cdkStepperNext
        ></button>
      </div>
    </div>
  </cdk-step>
  <cdk-step>
    <div class="wrapper">
      <aqm-location-confirm [location]="location"></aqm-location-confirm>

      <div class="spacer"></div>

      <div class="action-row">
        <button
          pButton
          pRipple
          type="button"
          i18n-label="add-location|Label for back button"
          label="Back"
          class="p-button-secondary p-button-lg"
          cdkStepperPrevious
        ></button>
        <button
          pButton
          pRipple
          type="button"
          i18n-label="add-location|Label for save button"
          label="Save"
          class="p-button-lg ml-4"
          (click)="onAddLocation()"
        ></button>
      </div>
    </div>
  </cdk-step>
</aqm-stepper>
