@import 'abstracts/functions';
@import 'abstracts/variables';

:host {
  padding: rem(24px);
}

.geo-item {
  dt {
    font-size: $size-xsmall;
    font-weight: $weight-bold;
  }

  dd {
    margin: 0;
    font-size: $size-medium;
  }

  &:first-child {
    margin-right: rem(54px);
  }
}
