@import 'abstracts/functions';
@import 'abstracts/variables';

$actions-height: rem(72px);
$caption-height: rem(146px);

:host {
  height: calc(100% - #{$actions-height});
  overflow: hidden;
}

.form-wrapper {
  height: calc(100% - #{$caption-height});
  padding: rem(24px);
  overflow: scroll;
}
