<div class="tab-view-scroller">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-arrow-left"
    iconPos="left"
    class="p-button-secondary tab-view-scroller-btn tab-view-scroller-btn-left"
    [disabled]="activeIndex === 0"
    (click)="navigateBack()"
  ></button>

  <ng-content></ng-content>

  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-arrow-right"
    iconPos="right"
    class="p-button-secondary tab-view-scroller-btn tab-view-scroller-btn-right"
    [disabled]="activeIndex === tabsCount - 1"
    (click)="navigateForward()"
  ></button>
</div>
